.loginSection {
    background-image: url("D:/Angular Material/mdb-angular-free-9.0.1/mdb-angular-free/src/assets/images/bg4.jpg");
    background-size: cover;
}

.loginCard{
    margin-top: 100px;
    margin-bottom: 100px;
}

