<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <br><br>
        <mdb-card cascade="true" wider="true" class="text-center">
  
            <mdb-card-body cascade="true">
              <mdb-card-text>
                  <h4>Hey {{name}}, <br> Sorry for inconvinient, Your Registration Request is not Approved yet.</h4>
                  <h5>Our team is continuously working on your request. Admin will take some time to verify your details.</h5>
                  <br>
                  <h6>Go to <a href="" (click)="BackToHome()">homePage</a></h6>
              
              </mdb-card-text>
            </mdb-card-body>
            <!--/.Card content-->
        
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3"></div>
</div>

