<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><h4 class="navbar-brand" style="color: black;"><strong> {{title}}</strong> </h4></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
  
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/profileDoctor"><mdb-icon fas icon="home"></mdb-icon> Profile<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/doctorAppointmentList"><mdb-icon far icon="plus-square"></mdb-icon>Appointment List<span class="sr-only">(current)</span></a>
        </li>
  
         
         <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> {{Name}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctorInfo"><strong>{{Name}}</strong><br>{{Email}}</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctorAppointmentList"> My Appointment </a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctorFeedback"> My Feedback </a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctorUpdate" > View/Update profile </a>
            <a class="dropdown-item waves-light" mdbWavesEffect > settings </a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/doctorChangePassword"> Change Password </a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()"> Log out </a>
          </div>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
<br>
<div class="container">
    <div class="row">
        <h2 style="margin-left: 42%;" class="font-weight-bolder">DocsHelp</h2>
    </div>
  <div class="row cardform">
    <div class="col-md-12">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="text-left">
  
        <mdb-card-body cascade="true">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 style="margin-top: 10px;" class="text-center text-warning">Hi {{Name}}!</h3>
                </div>
                <div class="row">
                    <h5 style="margin-left:250px; margin-top: 10px;">We are glad to accompany you, on your Serving journey.</h5>
                </div>
            </div>
            <hr>
          <mdb-card-text>
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <img src="../../assets/images/user1.jpg" style="width: 200px;height: 200px;margin-left: 35px;"  alt="profile photo"> 
                  </div>
              </div>
              <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Doctor ID:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{ID}}</label>
                  </div>
                </div>
                <hr>
                <div class="row">
                    <label style="font-size: large;" class="text-warning">Personal Information:</label> 
                </div>
                <div class="row">
                  <div class="col-md-2">
                      <label style="font-size: large;"><strong>Name:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{Name}}</label>
                  </div>
                  <div class="col-md-2">
                    <label style="font-size: large;"><strong>Phone:</strong></label>
                </div>
                <div class="col-md-3">
                  <label style="font-size: large;">{{Phone}}</label>
                </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-2">
                      <label style="font-size: large;"><strong>Email:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{Email}}</label>
                  </div>
                  <div class="col-md-2">
                    <label style="font-size: large;"><strong>Adhar:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{Adhar}}</label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-2">
                      <label style="font-size: large;"><strong>DOB:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{DOB}}</label>
                  </div>
                  <div class="col-md-2">
                    <label style="font-size: large;"><strong>BloodGroup:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{BloodGroup}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                      <label style="font-size: large;"><strong>Gender:</strong></label>
                  </div>
                  <div class="col-md-3">
                    <label style="font-size: large;">{{Gender}}</label>
                  </div>
                </div>
                <hr>
                <div class="row">
                    <label style="font-size: large;" class="text-warning">Address:</label> 
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Country:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{Country}}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>State:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{State}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>City:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{City}}</label>
                    </div>
                  </div>
                 <hr>
                 <div class="row">
                    <label style="font-size: large;" class="text-warning">Consultancy Information:</label> 
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Consultancy Day:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{Day}}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Shift:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{Shift}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Timeslot:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{TimeSlot}}</label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Mode:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{Mode}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: large;"><strong>Patient Time:</strong></label>
                    </div>
                    <div class="col-md-3">
                      <label style="font-size: large;">{{PatientTime}}</label>
                    </div>
                </div>
                <div class="row">
                    <button style="margin-left: 42%;margin-top: 50px;" mdbBtn class="waves-light btn-info" routerLink="/doctorUpdate" mdbWavesEffect>Edit Profile</button>
                </div>
          </mdb-card-text>
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
   <!-- Content -->
   <h5 class="font-weight-bold mt-3 mb-4">DocsHelp</h5>
   <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
     elit.</p>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">Blog</a>
     </li>
     <li>
       <a href="#!">About us</a>
     </li>
     <li>
       <a href="#!">Premium</a>
     </li>
     <li>
       <a href="#!">Affiliated program</a>
     </li>
   </ul>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help and Support</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">FAQ</a>
     </li>
     <li>
       <a href="#!">Contact Us</a>
     </li>
     <li>
       <a href="#!">Premium Support</a>
     </li>
     <li>
       <a href="#!">Custom Developers</a>
     </li>
   </ul>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">Terms & Conditions</a>
     </li>
     <li>
       <a href="#!">Privacy</a>
     </li>
   </ul>
  
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Docshelp.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
  