.registerSection {
    background-image: url("D:/Angular Material/mdb-angular-free-9.0.1/mdb-angular-free/src/assets/images/bg1.jpg");
    background-size: cover;
  }

  .registerCard{
      margin-top: 25px;
      margin-bottom: 25px;
  }