<div class="heading text-center" *ngIf="errorMessage !== '' ">
    <div class="card" style="width:40%;margin-left: 30%;">
      <div class="card-body"><h5>Disease Not Found</h5></div> 
    </div>
</div>

<div class="heading text-center" *ngIf="flag">
    <!-- <h3>List of doctors based on your search</h3> -->
    <div class="card" style="width:40%;margin-left: 30%;">
      <div class="card-body"><h5>{{diseaseInfo['DiseaseName']}}</h5></div> 
    </div>
</div>

<div class="row cardform" *ngIf="flag">
    <div class="col-md-12">
      <!--Card-->
      <mdb-card cascade="true" wider="true" class="text-left">
  
        <mdb-card-body cascade="true">  
          <mdb-card-text>
            <div *ngIf="diseaseInfo['Symptoms'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Symptoms:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['Symptoms']}}</label>
                    </div>
                </div>
                <hr>
            </div>
            
            <div *ngIf="diseaseInfo['Cause'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Cause:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['Cause']}}</label>
                    </div>
                  </div>
                  <hr>
            </div>
           
            <div *ngIf="diseaseInfo['RiskFactor'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Risk Factor:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['RiskFactor']}}</label>
                    </div>
                  </div>
                  <hr>
            </div>
    
            <div *ngIf="diseaseInfo['Overview'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Overview:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['Overview']}}</label>
                    </div>
                  </div>
                  <hr>
            </div>
    
            <div *ngIf="diseaseInfo['Treatment'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Treatment:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['Treatment']}}</label>
                    </div>
                  </div>
                  <hr>
            </div>
    
            <div *ngIf="diseaseInfo['Medication'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Medication:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['Medication']}}</label>
                    </div>
                  </div>
                  <hr>
            </div>
        
            <div *ngIf="diseaseInfo['HomeRemedies'] !== ''">
                <div class="row">
                  <div class="col-md-12">
                      <label style="font-size: 20px;"><strong>Home Remedies:</strong></label>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>{{diseaseInfo['HomeRemedies']}}</label>
                    </div>
                  </div>
            </div>
          </mdb-card-text>
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
   <!-- Content -->
   <h5 class="font-weight-bold mt-3 mb-4">DocsHelp</h5>
   <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
     elit.</p>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">Blog</a>
     </li>
     <li>
       <a href="#!">About us</a>
     </li>
     <li>
       <a href="#!">Premium</a>
     </li>
     <li>
       <a href="#!">Affiliated program</a>
     </li>
   </ul>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help and Support</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">FAQ</a>
     </li>
     <li>
       <a href="#!">Contact Us</a>
     </li>
     <li>
       <a href="#!">Premium Support</a>
     </li>
     <li>
       <a href="#!">Custom Developers</a>
     </li>
   </ul>
  
  </div>
  <!-- Grid column -->
  
  <hr class="clearfix w-100 d-md-none">
  
  <!-- Grid column -->
  <div class="col-md-2 mx-auto">
  
   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>
  
   <ul class="list-unstyled">
     <li>
       <a href="#!">Terms & Conditions</a>
     </li>
     <li>
       <a href="#!">Privacy</a>
     </li>
   </ul>
  
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
          <mdb-icon fab fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
          <mdb-icon fab icon="dribbble"></mdb-icon>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Docshelp.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
